<div class="container">
  <h1 class="mt-4">Bem-vindo à Minha Loja</h1>
  <p>Encontre os melhores produtos para você.</p>

  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <img src="/images/mordedor.jpeg" class="card-img-top" alt="Produto 1">
              <div class="card-body">
                  <h5 class="card-title">Mordedor para cachorro</h5>
                  <p class="card-text">Um mordedor feito para cachorros</p>
                  <a href="#" class="btn btn-primary">Comprar</a>
              </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card">
              <img src="/images/arranhador.jpeg" class="card-img-top" alt="Produto 2">
              <div class="card-body">
                  <h5 class="card-title">Arranhador</h5>
                  <p class="card-text">Um arranhador feito para gatos</p>
                  <a href="#" class="btn btn-primary">Comprar</a>
              </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card">
              <img src="/images/osso.jpeg" class="card-img-top" alt="Produto 3">
              <div class="card-body">
                  <h5 class="card-title">Osso</h5>
                  <p class="card-text">Um osso de brinquedo feito para cachorro</p>
                  <a href="#" class="btn btn-primary">Comprar</a>
              </div>
          </div>
      </div>
  </div>
</div>
